@import "tailwindcss";
@import "@nuxt/ui";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans, "Atkinson Hyperlegible Next", ui-sans-serif, system-ui);
  font-size: 20px;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;

  .mega-title-text {
    font-size: 48px;
    line-height: 105%;
  }

  .section-title-text {
    font-size: 32px;
    line-height: 110%;
  }

  .title-text {
    font-size: 24px;
    line-height: 115%;
  }

  .bigger-body-text {
    font-size: 18px;
    line-height: 120%;
  }

  .body-text {
    font-size: 16px;
    line-height: 130%;
  }

  .small-text {
    font-size: 14px;
    line-height: 125%;
  }

  @media (min-width: 640px) {
    .mega-title-text {
      font-size: 64px;
    }

    .section-title-text {
      font-size: 40px;
    }

    .title-text {
      font-size: 28px;
    }

    .bigger-body-text {
      font-size: 20px;
    }

    .body-text {
      font-size: 18px;
    }

    .small-text {
      font-size: 15px;
    }
  }

  @media (min-width: 1024px) {
    .mega-title-text {
      font-size: 96px;
    }

    .section-title-text {
      font-size: 48px;
    }

    .title-text {
      font-size: 32px;
    }

    .bigger-body-text {
      font-size: 24px;
    }

    .body-text {
      font-size: 20px;
    }

    .small-text {
      font-size: 15px;
    }
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  :root {
    --font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, system-ui;
  }
}
